@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #205781;
  --color-secondary: #4F959D ;
  --color-base-200: #f3f3f3;
  --color-base-300: #F6F8D5;
  --color-accent: #98D2C0;
};

*{
   font-family: "Lato", sans-serif;
}
